* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 252, 241);
}

.navbar-main-container {
    background-color: rgb(137, 53, 53);
    color: rgb(244, 241, 241);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;

    width: 100%;
    z-index: 1000;
}

.main-container {
    height: 600px;
    width: 1527px;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.project-name {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

.main-logo {
    border-radius: 30px;

}

.nav-links-container {
    display: flex;
    gap: 20px;
    cursor: pointer;
    color: #f9f9f9;
}

.nav-text-container {
    color: #f9f5f5;
    text-decoration: none;

}

.auth-links-containar {
    display: flex;
    gap: 20px;
    cursor: pointer;
}


.main-container {
    height: 600px;
    width: 1527px;
}


@media(max-width :767px) {

    .project-name {
        font-size: 30px;

    }


    .main-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 40px;
    }

    .navbar-main-container {
        flex-direction: column;
        text-align: center;
        padding: 12px;

    }

    .auth-links-containar {
        flex-direction: column;
        text-align: center;
        padding: 12px;
    }

    .nav-text-container {
        display: block;
        margin-top: 12px;
        font-size: 14px;
        margin: 10px 0;
    }
}

.tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(0, 0, 0, 0.65);
    color: hsl(0, 0%, 100%);
    padding: 5px 12px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}


.contact-layout {
    width: 47%;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-top: 50px;
}

.contact-left {
    flex: 1;
    background:rgb(246, 237, 233);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1); 
    margin-top: 50px;
    margin-bottom: 50px;

}
.hading{
    text-align: center;
}

.contact-left h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.contact-left p {
    color: #666;
    margin-bottom: 20px;
}

.contact-left input,
.contact-left textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border-radius: 6px;
    border: 1px solid #e5d1cd;
    font-size: 15px;
}

.btn {
    display: block;
    width: 160px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    background: black;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;

}

.btn:hover {
    background-color: rgb(63, 64, 64);
}


.contact-image {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
    padding-top:10px ;
    padding-bottom: 10px;
}
@media (max-width: 900px) {
    .contact-layout {
        flex-direction: column;
        width: 95%;
    }

    .contact-image {
        height: 260px;
    }
}


.btn {
    display: block;
    width: 160px;
    margin: 25px auto;
    text-align: center;
    padding: 10px;
    background: black;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

.btn:hover {
    opacity: 0.8;
}

.bottom-section {
  display:flex;
  gap:24px;
  padding:36px 40px;
  background:var(--bg);
}

.bottom-photo {
  flex:2;
  max-width: 600px;
  min-height:280px;
  border-radius:6px;
  background:url("./../images/contactUs.jpg") center/cover no-repeat;
  margin-left: 190px;
}

.bottom-content {
   flex:1; 
   min-width:240px;
   }

.bottom-content h2 {
  font-size:22px;
  margin:0 0 8px 0;
}

.bottom-content p {
  color:var(--muted);
  margin-bottom:18px;
}

.info-block {
  display:flex;
  gap:10px;
  align-items:flex-start;
  margin-bottom:10px;
}

.info-block img {
  width:22px;
  height:22px;
}

.info-block h4 {
  margin:0;
  font-size:15px;
}

.info-block p,
.info-block a {
  margin:4px 0 0 0;
  font-size:14px;
  color:#0047b3;
  text-decoration:none;
}




.footer {
    background-color: rgb(137, 53, 53);
    color: #fff;
    padding: 40px 20px;
    font-family: 'Poppins', sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;

}

.footer-top {
    text-align: center;
    margin-bottom: 30px;
    
}
.footer-logo {
    width: 100px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px 0;
    font-size: 20px;
    flex-wrap: wrap;

}

.social-icons a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

}

.social-icons img {
    width: 25px;
    height: 30px;
    margin-right: 8px;
}


.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.col h4 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 12px;
    display: flex;
    
}

.col a {
    display: block;
    margin: 6px 0;
    color: #eee;
    text-decoration: none;
    font-size: 12px;
    transition: .3s;
}

.col a:hover {
    color: #ffcc00;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .footer-links {
        text-align: center;

    }
}